<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot" />
    <add key="WSGI_HANDLER" value="wsgi.application" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config)|(\.html)|(\.css)|(\.js))$" />
    <add key="WSGI_LOG" value="C:\Windows\Temp\dgp-python-iis.log" />
  </appSettings>
</configuration>
